@font-face {
    font-family: "Blinker-Regular";
    src: url("./Blinker/Blinker-Regular.ttf");
}

@font-face {
    font-family: "Blinker-Light";
    src: url("./Blinker/Blinker-Light.ttf");
}

body {
    background-color: #e6f3ff;
    color: #0a0057;
    padding: 20px;
}

#heading {
    font-family: "Blinker-Regular";
    margin: auto;
    width: fit-content;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center;
}

#subheading {
    font-family: "Blinker-Regular";
    margin: auto;
    width: fit-content;
    margin-bottom: 6vw;
    text-align: center;
}

p {
    font-family: "Blinker-Light", Helvetica, sans-serif;
    margin: auto;
    width: fit-content;
    text-align: center;
    margin-bottom: 5vw;
    padding-left: 50px;
    padding-right: 50px;
    font-size: x-large;
}

.imgframe {
    /* padding: 10px; */
    margin: auto;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 200px;
}

@media screen and (max-width: 700px) {
    #subheading{
        font-size: 4vw;
    }
}