@font-face {
    font-family: "Blinker";
    src: url("./Blinker/Blinker-Regular.ttf");
}

body {
    background-color: #FFF8DC;
    padding: 20px;
}

#heading {
    font-family: "Blinker";
    margin: auto;
    width: fit-content;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center;
}

#subheading {
    font-family: "Blinker";
    margin: auto;
    width: fit-content;
    margin-bottom: 30px;
    text-align: center;
}

p {
    font-family: Helvetica, sans-serif;
    margin: auto;
    width: fit-content;
    text-align: center;
    margin-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: x-large;
}

#warn {
    position: fixed;
    margin-left: 40%;
    margin-top: 20%;
    width: fit-content;
    height: fit-content;
    border: 4px black solid;
}